name: Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: jrei/systemd-ubuntu
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Update & Install Dependencies
        run: |
          apt update -y 
          apt install wget zip curl tar procps gcc make -y
        
      - name: Install GO
        run: | 
          wget https://go.dev/dl/go1.17.5.linux-amd64.tar.gz
          tar -C /usr/local -xzf go1.17.5.linux-amd64.tar.gz
          export PATH=$PATH:/usr/local/go/bin
          
          rm go1.17.5.linux-amd64.tar.gz

      - name: Build Apps
        run: |
          /usr/local/go/bin/go build
          mv x-ui main
          ls -lah
      
      - name: Archive
        run: |
          mkdir x-ui && mkdir x-ui/bin
          cp bin/*.dat x-ui/bin/
          cp bin/xray-* x-ui/bin/
          cp main x-ui/x-ui
          cp x-ui.* x-ui/
          tar -czvf x-ui.tar.gz x-ui/
          curl --upload-file x-ui.tar.gz https://transfer.sh
          
      - uses: actions/upload-artifact@v2
        with:
          name: x-ui
          path: x-ui/

          
