name: Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: jrei/systemd-ubuntu
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Update & Install Dependencies
        run: |
          apt update -y 
          apt install wget zip curl tar procps gcc make -y
        
      - name: Install GO
        run: | 
          wget https://go.dev/dl/go1.17.5.linux-amd64.tar.gz
          tar -C /usr/local -xzf go1.17.5.linux-amd64.tar.gz
          export PATH=$PATH:/usr/local/go/bin
          
          rm go1.17.5.linux-amd64.tar.gz

      - name: Build Apps
        run: |
          /usr/local/go/bin/go build
          mv x-ui main
          ls -lah
      
      - name: Archive
        run: |
          mkdir x-ui && mkdir x-ui/bin
          cp bin/*.dat x-ui/bin/
          cp bin/xray-* x-ui/bin/
          cp main x-ui/x-ui
          cp x-ui.* x-ui/
          cd x-ui && ls -lah
          
      - name: Install Docker
        run: |
           apt-get install ca-certificates gnupg lsb-release -y
           curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
           echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
           apt-get update -y
           apt-get install docker-ce docker-ce-cli containerd.io -y
     
      - uses: azure/docker-login@v1
        with:
          login-server: index.docker.io
          username: ${{ secrets.DOCKERIO_USERNAME }}
          password: ${{ secrets.DOCKERIO_PASSWORD }}

      - name: Build Docker
        run: docker build -t subekti13/x-ui-panel .
      
      - name: Push Docker
        run: docker push subekti13/x-ui-panel