name: Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: jrei/systemd-ubuntu
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Update & Install Dependencies
        run: |
          apt update -y 
          apt install wget zip curl tar procps gcc make -y
        
      - name: Install GO
        run: | 
          wget https://go.dev/dl/go1.17.5.linux-amd64.tar.gz
          tar -C /usr/local -xzf go1.17.5.linux-amd64.tar.gz
          export PATH=$PATH:/usr/local/go/bin
          
          rm go1.17.5.linux-amd64.tar.gz

      - name: Build Apps
        run: |
          /usr/local/go/bin/go build
          mv x-ui main
          ls -lah
      
      - name: Archive
        run: |
          mkdir x-ui && mkdir x-ui/bin
          cp bin/*.dat x-ui/bin/
          cp bin/xray-* x-ui/bin/
          cp main x-ui/x-ui
          cp x-ui.* x-ui/
          
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
     
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: subekti13/x-ui-panel:latest
